<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="profilemapper">
	
	<update id="profileUpdate" parameterType="registDto">
		UPDATE MEMBER
		SET MEMBER_PICTURE_PATH = #{member_picture_path}
		WHERE MEMBER_EMAIL = #{member_email}
	</update>
	
	<select id="imfollowing" parameterType="int" resultType="registDto">
		SELECT MEMBER_PICTURE_PATH, MEMBER_ID
		FROM MEMBER JOIN FOLLOW
		ON(MEMBER_NO = FOLLOW_MEMBER_NO)
		WHERE FOLLOW_FOLLOWING_NO = #{follow_following_no}
	</select>
		
	<select id="followerofme" parameterType="int" resultType="registDto">
		SELECT MEMBER_PICTURE_PATH, MEMBER_ID
		FROM MEMBER
		JOIN FOLLOW ON(MEMBER_NO = FOLLOW_FOLLOWING_NO)
		WHERE FOLLOW_MEMBER_NO = #{follow_member_no}
	</select>

	<select id="followchk" parameterType="followDto" resultType="int">
		SELECT COUNT(*) FROM FOLLOW
		WHERE FOLLOW_FOLLOWING_NO = #{follow_following_no}
		AND FOLLOW_MEMBER_NO = #{follow_member_no}
	</select>	
	
	<insert id="addfollow" parameterType="followDto">
		INSERT INTO FOLLOW
		VALUES(FOLLOWNOSEQ.NEXTVAL, #{follow_following_no}, #{follow_member_no})
	</insert>
	
	<delete id="removefollow" parameterType="followDto">
		DELETE FROM FOLLOW
		WHERE FOLLOW_FOLLOWING_NO = #{follow_following_no}
		AND FOLLOW_MEMBER_NO = #{follow_member_no}
	</delete>
	
	<select id="searchId" parameterType="String" resultType="RegistDto">
		SELECT *
		FROM MEMBER
		WHERE MEMBER_ID LIKE #{searchId}
	</select>
	
</mapper>