<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="BoardMapper">
	
	<resultMap  type="BoardDto" id="BoardMap">
		<result property="postId" column="POST_ID"/>
		<result property="postUserNo" column="POST_USER_NO"/>
		<result property="postNo" column="POST_NO"/>
		<result property="postBoardName" column="POST_BOARD_NAME"/>
		<result property="postCategoryName" column="POST_CATEGORY_NAME"/>
		<result property="postTitle" column="POST_TITLE"/>
		<result property="postContent" column="POST_CONTENT"/>
		<result property="postMdate" column="POST_MDATE"/>
		<result property="postRegdate" column="POST_REGDATE"/>
		<result property="postHit" column="POST_HIT"/>
		<result property="postCommentHit" column="POST_COMMENT_HIT"/>
		<result property="postLike" column="POST_LIKE"/>
		<result property="postDelflag" column="POST_DELFLAG"/>
		<result property="postLatitude" column="POST_LATITUDE"/>
		<result property="postLongitude" column="POST_LONGITUDE"/>
		<result property="postThumbNail" column="POST_THUMBNAIL"/>
	</resultMap>	

	<select id="accompany_selectList" parameterType="int" resultMap="BoardMap">
		SELECT POST_USER_NO, POST_ID, POST_NO,POST_BOARD_NAME,POST_CATEGORY_NAME,POST_TITLE,POST_CONTENT
		,POST_MDATE,POST_REGDATE,POST_HIT,POST_COMMENT_HIT,POST_LIKE,POST_DELFLAG,POST_LATITUDE,POST_LONGITUDE, POST_THUMBNAIL
		FROM POST
		WHERE POST_BOARD_NAME = 'ACCOMPANY'
		ORDER BY POST_ID ASC
	</select>
	
	<select id="accompany_selectListPaging" parameterType="map" resultMap="BoardMap">
	<![CDATA[
		SELECT B.POST_ID, B.POST_USER_NO, B.POST_NO, B.POST_BOARD_NAME, B.POST_CATEGORY_NAME, B.POST_TITLE, B.POST_CONTENT
		, B.POST_MDATE, B.POST_REGDATE, B.POST_HIT, B.POST_COMMENT_HIT, B.POST_LIKE, B.POST_DELFLAG, B.POST_LATITUDE, B.POST_LONGITUDE 
		FROM
		(SELECT ROWNUM AS RNUM, A.POST_ID, A.POST_USER_NO, A.POST_NO, A.POST_BOARD_NAME, A.POST_CATEGORY_NAME, A.POST_TITLE
		, A.POST_CONTENT, A.POST_MDATE, A.POST_REGDATE, A.POST_HIT, A.POST_COMMENT_HIT, A.POST_LIKE, A.POST_DELFLAG, A.POST_LATITUDE, A.POST_LONGITUDE
		 FROM
		(SELECT POST_USER_NO, POST_ID, POST_NO,POST_BOARD_NAME,POST_CATEGORY_NAME,POST_TITLE,POST_CONTENT
		,POST_MDATE,POST_REGDATE,POST_HIT,POST_COMMENT_HIT,POST_LIKE,POST_DELFLAG,POST_LATITUDE,POST_LONGITUDE
		FROM POST
		WHERE POST_BOARD_NAME = 'ACCOMPANY'
		ORDER BY POST_NO DESC) A
		WHERE ROWNUM <= #{endRow} ) B
		WHERE B.RNUM > #{startRow}
	]]>
	</select>
	
	<select id="accompanyGetTotalCount" resultType="int">
		SELECT COUNT(*) FROM POST
		WHERE POST_BOARD_NAME = 'ACCOMPANY'
	</select>
	
	<select id="notice_selectList" resultMap="BoardMap">
		SELECT POST_USER_NO, POST_ID, POST_NO,POST_BOARD_NAME,POST_CATEGORY_NAME,POST_TITLE,POST_CONTENT
		,POST_MDATE, POST_REGDATE,POST_HIT,POST_COMMENT_HIT,POST_LIKE,POST_DELFLAG,POST_LATITUDE,POST_LONGITUDE, POST_THUMBNAIL
		FROM POST
		WHERE POST_BOARD_NAME = 'NOTICE'
		ORDER BY POST_NO ASC
	</select>
	
	<select id="notice_selectListPaging" parameterType="map" resultMap="BoardMap">
	<![CDATA[
		SELECT B.POST_ID, B.POST_USER_NO, B.POST_NO, B.POST_BOARD_NAME, B.POST_CATEGORY_NAME, B.POST_TITLE, B.POST_CONTENT
		, B.POST_MDATE, B.POST_REGDATE, B.POST_HIT, B.POST_COMMENT_HIT, B.POST_LIKE, B.POST_DELFLAG, B.POST_LATITUDE, B.POST_LONGITUDE 
		FROM
		(SELECT ROWNUM AS RNUM, A.POST_ID, A.POST_USER_NO, A.POST_NO, A.POST_BOARD_NAME, A.POST_CATEGORY_NAME, A.POST_TITLE
		, A.POST_CONTENT, A.POST_MDATE, A.POST_REGDATE, A.POST_HIT, A.POST_COMMENT_HIT, A.POST_LIKE, A.POST_DELFLAG, A.POST_LATITUDE, A.POST_LONGITUDE
		 FROM
		(SELECT POST_USER_NO, POST_ID, POST_NO,POST_BOARD_NAME,POST_CATEGORY_NAME,POST_TITLE,POST_CONTENT
		,POST_MDATE,POST_REGDATE,POST_HIT,POST_COMMENT_HIT,POST_LIKE,POST_DELFLAG,POST_LATITUDE,POST_LONGITUDE
		FROM POST
		WHERE POST_BOARD_NAME = 'NOTICE'
		ORDER BY POST_NO DESC) A
		WHERE ROWNUM <= #{endRow} ) B
		WHERE B.RNUM > #{startRow}
	]]>
	</select>
	
	<select id="noticeGetTotalCount" resultType="int">
		SELECT COUNT(*) FROM POST
		WHERE POST_BOARD_NAME = 'NOTICE'
	</select>
	
	<select id="photo_selectList" resultMap="BoardMap">
		SELECT POST_USER_NO, POST_ID, POST_NO, POST_BOARD_NAME, POST_CATEGORY_NAME, POST_TITLE, POST_CONTENT,
		POST_MDATE, POST_REGDATE, POST_HIT, POST_COMMENT_HIT, POST_LIKE, POST_DELFLAG, POST_LATITUDE, POST_LONGITUDE, POST_THUMBNAIL
		FROM POST
		WHERE POST_BOARD_NAME = 'PHOTO'
		ORDER BY POST_NO ASC
	</select>
	
		<select id="photo_selectListPaging" parameterType="map" resultMap="BoardMap">
	<![CDATA[
		SELECT B.POST_ID, B.POST_USER_NO, B.POST_NO, B.POST_BOARD_NAME, B.POST_CATEGORY_NAME, B.POST_TITLE, B.POST_CONTENT
		, B.POST_MDATE, B.POST_REGDATE, B.POST_HIT, B.POST_COMMENT_HIT, B.POST_LIKE, B.POST_DELFLAG, B.POST_LATITUDE, B.POST_LONGITUDE, B.POST_THUMBNAIL
		FROM
		(SELECT ROWNUM AS RNUM, A.POST_ID, A.POST_USER_NO, A.POST_NO, A.POST_BOARD_NAME, A.POST_CATEGORY_NAME, A.POST_TITLE
		, A.POST_CONTENT, A.POST_MDATE, A.POST_REGDATE, A.POST_HIT, A.POST_COMMENT_HIT, A.POST_LIKE, A.POST_DELFLAG, A.POST_LATITUDE, A.POST_LONGITUDE, A.POST_THUMBNAIL
		 FROM
		(SELECT POST_USER_NO, POST_ID, POST_NO,POST_BOARD_NAME,POST_CATEGORY_NAME,POST_TITLE,POST_CONTENT
		,POST_MDATE,POST_REGDATE,POST_HIT,POST_COMMENT_HIT,POST_LIKE,POST_DELFLAG,POST_LATITUDE,POST_LONGITUDE, POST_THUMBNAIL
		FROM POST
		WHERE POST_BOARD_NAME = 'PHOTO'
		ORDER BY POST_NO DESC) A
		WHERE ROWNUM <= #{endRow} ) B
		WHERE B.RNUM > #{startRow}
	]]>
	</select>
	
	<select id="photoGetTotalCount" resultType="int">
		SELECT COUNT(*) FROM POST
		WHERE POST_BOARD_NAME = 'PHOTO'
	</select>
	
	<select id="accompany_selectOne" parameterType="int" resultMap="BoardMap">
		SELECT POST_USER_NO, POST_ID, POST_NO,POST_BOARD_NAME,POST_CATEGORY_NAME,POST_TITLE,POST_CONTENT,
		POST_MDATE,POST_REGDATE,POST_HIT,POST_COMMENT_HIT,POST_LIKE,POST_DELFLAG,POST_LATITUDE,POST_LONGITUDE, POST_THUMBNAIL
		FROM POST
		WHERE POST_BOARD_NAME = 'ACCOMPANY'
		AND POST_ID = #{POST_ID}
	</select>
	
	<select id="notice_selectOne" parameterType="int" resultMap="BoardMap">
		SELECT POST_USER_NO, POST_ID, POST_NO,POST_BOARD_NAME,POST_CATEGORY_NAME,POST_TITLE,POST_CONTENT,
		POST_MDATE,POST_REGDATE,POST_HIT,POST_COMMENT_HIT,POST_LIKE,POST_DELFLAG,POST_LATITUDE,POST_LONGITUDE, POST_THUMBNAIL
		FROM POST
		WHERE POST_BOARD_NAME = 'NOTICE'
		AND POST_ID = #{POST_ID}
	</select>
	
	<select id="photo_selectOne" parameterType="int" resultMap="BoardMap">
		SELECT POST_USER_NO, POST_ID, POST_NO,POST_BOARD_NAME,POST_CATEGORY_NAME,POST_TITLE,POST_CONTENT,
		POST_MDATE,POST_REGDATE,POST_HIT,POST_COMMENT_HIT,POST_LIKE,POST_DELFLAG,POST_LATITUDE,POST_LONGITUDE
		FROM POST
		WHERE POST_BOARD_NAME = 'PHOTO'
		AND POST_ID = #{POST_ID}
	</select>
	
	<select id="selectOneByPostid" parameterType="int" resultMap="BoardMap">
		SELECT POST_USER_NO, POST_ID, POST_NO,POST_BOARD_NAME,POST_CATEGORY_NAME,POST_TITLE,POST_CONTENT
		,POST_MDATE,POST_REGDATE,POST_HIT,POST_COMMENT_HIT,POST_LIKE,POST_DELFLAG,POST_LATITUDE,POST_LONGITUDE
		FROM POST
		WHERE POST_ID = #{post_id}
	</select>
	
	<insert id="accompany_insert" parameterType="BoardDto">
		INSERT INTO POST VALUES
		(#{postUserNo}, POST_ID_SEQ.NEXTVAL, POST_DONGHANG_SEQ.NEXTVAL, 'ACCOMPANY', #{postCategoryName},#{postTitle},#{postContent},
		#{postMdate},SYSDATE,0,0,0,'N', #{postLatitude}, #{postLongitude}, NULL)
	</insert>
	
	<insert id="photo_insert" parameterType="BoardDto">
		INSERT INTO POST VALUES
		(#{postUserNo}, POST_ID_SEQ.NEXTVAL, POST_REVIEW_SEQ.NEXTVAL, 'PHOTO', 'none',#{postTitle},#{postContent},
		NULL ,SYSDATE,0,0,0,'N',0,0, #{postThumbNail})
	</insert>
	
	<insert id="notice_insert" parameterType="BoardDto">
		INSERT INTO POST VALUES
		(#{postUserNo}, POST_ID_SEQ.NEXTVAL, POST_NOTICE_SEQ.NEXTVAL, 'NOTICE', 'walk', #{postTitle},#{postContent},
		NULL, SYSDATE, 0,0,0,'N',NULL, NULL, NULL)
	</insert>
	
	<update id="accompany_update" parameterType="BoardDto">
		UPDATE POST SET 
			POST_ID = #{postId},
			POST_TITLE = #{postTitle},
			POST_CONTENT = #{postContent},
			POST_MDATE = #{postMdate},
			POST_REGDATE = SYSDATE,
			POST_LATITUDE = #{postLatitude},
			POST_LONGITUDE = #{postLongitude}
		WHERE POST_ID = #{postId}
	</update>
	
	<update id="notice_update" parameterType="BoardDto">
		UPDATE POST SET 
			POST_USER_NO = #{postUserNo},
			POST_TITLE = #{postTitle},
			POST_CONTENT = #{postContent},
			POST_REGDATE = SYSDATE
		WHERE POST_ID = #{postId}
	</update>
	
	<update id="accompany_delete" parameterType="int">
		UPDATE POST SET
			POST_DELFLAG = 'Y'
		WHERE POST_ID = #{postId}
	</update>
	
	<update id="notice_delete" parameterType="int">
		UPDATE POST SET
			POST_DELFLAG = 'Y'
		WHERE POST_ID = #{postId}
	</update>
	
	<insert id="addscrap" parameterType="scrapDto">
		INSERT INTO SCRAP
		VALUES(SCRAPNOSEQ.NEXTVAL,#{scrap_user_no},#{scrap_post_id})
	</insert>
	
	<delete id="delscrap" parameterType="int">
		DELETE FROM SCRAP
		WHERE SCRAP_USER_NO = #{scrap_user_no}
	</delete>
	
	<select id="scrapList" parameterType="int" resultMap="BoardMap">
		SELECT POST_USER_NO, POST_ID, POST_NO, POST_BOARD_NAME, POST_CATEGORY_NAME, POST_TITLE, POST_CONTENT
		, POST_MDATE, POST_REGDATE, POST_HIT, POST_COMMENT_HIT, POST_LIKE, POST_DELFLAG, POST_LATITUDE, POST_LONGITUDE
		FROM POST
		JOIN SCRAP ON(POST_ID = SCRAP_POST_ID)
		WHERE SCRAP_USER_NO = #{scrap_user_no}
	</select>
	
	<select id="scrapchk" parameterType="scrapDto" resultType="int">
		SELECT COUNT(*) FROM SCRAP
		WHERE SCRAP_USER_NO = #{scrap_user_no}
		AND SCRAP_POST_ID = #{scrap_post_id}
	</select>
	
	<select id="getTotalCount" resultType="int">
		SELECT COUNT(*) FROM POST
	</select>
	
</mapper>